.time_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.time {
    font-size: 40px;
    font-family:'digital-clock-font';
    color: #6a8fb2;
}
