.help_window {
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: 250px;
    display: grid;
    grid-template-columns: 50px 350px;
    grid-template-rows: 20px 1fr 20px;
    padding-bottom: 30px;
    position: absolute;
    top: -300px;
    right: 200px;
    user-select: none;
    cursor: pointer;
}

.help_window .help_icon {
    position: relative;
    top: -15px;
    left: -15px;
}

.help_window em {
    font-family: Candara, Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 0.2em 0 0.6em 0;
}

.help_window .choose_a_path {
    display: flex;
}

.help_window .choose_a_path img {
    margin-right: 10px;
}